<div id="wrapp">
  <h1>Responsibilities</h1>
  <div *ngFor="let responsibility of responsibilities" style="width:100%">
    <show-responsibility
      [responsibility]="responsibility"
      (removeResponsibilityEmitter)="remove($event)"
      (updateResponsibilityEmitter)="update($event)"
    ></show-responsibility>
  </div>

  <add-responsibility
  [teamId]="paramsId.teamId"
  [projectId]="paramsId.projectId"
  (addResponsibilityEmitter)="add($event)"

  style="width: 100%;"
  >

  </add-responsibility>
</div>
