<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Project Manager</h1>
    <span class="menu-spacer"></span>
    <div class="navbar-items" *ngIf="!((authInfo$ | async)?.isLoggedIn)">
      <a mat-button [routerLink]="'/'"> Početna </a>
      <a mat-button [routerLink]="'/register'" style="margin-left: auto;"> Registruj se </a>
      <a mat-button [routerLink]="'/login'"> Prijavi se </a>
    </div>
    <div class="navbar-items" *ngIf="(authInfo$ | async)?.isLoggedIn">
      <button mat-button [matMenuTriggerFor]="menu" style="margin-left: auto;">{{(authInfo$ | async)?.employee?.firstname}} {{(authInfo$ | async)?.employee?.lastname}}</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="'/settings'">Account settings</button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()"> Logout </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list *ngIf="!((authInfo$ | async)?.isLoggedIn)">
      <a mat-button [routerLink]="'/'"> Početna </a>
      <a mat-button [routerLink]="'/register'"> Registruj se </a>
      <a mat-button [routerLink]="'/login'"> Prijavi se </a>
    </mat-nav-list>
    <mat-nav-list *ngIf="(authInfo$ | async)?.isLoggedIn">
      <a mat-button routerLink="'/settings'">Account settings</a>
      <a mat-button (click)="logout()"> Logout </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
