<div id="wrapp">
  <header>
    <img src="assets/hero.jpg" alt="hero.jpg">
    <h1 class="hero-title">The best solution <br> for your project <br> management</h1>
  </header>
  <main>
    <h2>Welcome to our site</h2>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Fugiat reprehenderit aperiam deleniti ipsam tenetur voluptate
      autem voluptatum dolorem. Sint dolor animi expedita, quis nesciunt
      est iure quam optio sequi ipsam! Lorem ipsum dolor sit amet consectetur
      <img src="assets/main-image.jpeg" alt="main-image.jpeg">
      adipisicing elit. Praesentium doloribus quaerat, aliquam consectetur iusto
      ipsam aperiam assumenda quisquam, eligendi velit illum unde quos, aspernatur
      animi placeat neque esse porro fugiat? Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Esse similique impedit reprehenderit, optio ea quas sapiente,
      nobis tenetur consequatur hic consectetur molestias, dignissimos ipsum quidem?
      Ratione commodi suscipit consectetur culpa. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Laborum id, cupiditate vero eveniet fugit nesciunt labore minima
      rerum quaerat cum, temporibus et mollitia aliquam doloribus velit ad maxime ex voluptas!</p>
  </main>
</div>
