<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <span>
        <mat-icon>add</mat-icon>
      </span>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ng-template matExpansionPanelContent>
    <div style="display: flex; flex-direction: column;">
      <mat-form-field appearance="legacy">
        <mat-label>Description</mat-label>
        <input matInput placeholder="Description" [(ngModel)]="responsibility.description">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Tim</mat-label>
        <mat-select [(ngModel)]="selectedEmployee">
          <mat-option *ngFor="let employee of employees" [value]="employee.id">
            {{ employee.firstname }} {{employee.lastname}} - {{employee.type?.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" (click)="addResponsibility()">Add</button>
    </div>
  </ng-template>
</mat-expansion-panel>
